[Unit]
Description=MC Game Server
After=network.target

[Service]
ExecStart=/usr/bin/java -Xmx2G -jar /home/ubuntu/mc/server.jar nogui

Type=simple
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
